################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectGameInteraction/bin
/ProjectGameInteraction/obj
